<br>
<%= form_with(model: @service) do |form| %>

  <%#= @user.errors.full_messages.join(", ") if @user.errors.present? %>

  <% @service.errors.full_messages.each do |msg| %>
    <%= msg %>
  <% end %>

  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <hr>
  <div>
    <%= form.label :service_category %>
    <%= form.collection_select :category, Category.all, :id, :title%>
  </div>
  <hr>
  <div>
    <%= form.label :performer %>
    <%= form.collection_select :performer, Performer.all, :id, :name%>
  </div>
  <br>

  <div>
    <%= form.submit %>
  </div>
<% end %>
