<br>
<%= form_with(model: @order) do |form| %>

  <%#= @user.errors.full_messages.join(", ") if @user.errors.present? %>

  <% @order.errors.full_messages.each do |msg| %>
    <%= msg %>
  <% end %>

  <div>
    <%= form.label :customer_name %>
    <%= form.text_field :customer_name %>
  </div>
  <hr>

  <div>
    'service: '
    <br>
    <%= @order.services %>
    <%= form.label :service %>
    <%= form.text_field :customer_name %>
  </div>
  <hr>

  <br>
  <div>
    <%= form.submit %>
  </div>
<% end %>
