<br>
<%= form_with(model: @order) do |form| %>

  <%#= @user.errors.full_messages.join(", ") if @user.errors.present? %>

  <% @order.errors.full_messages.each do |msg| %>
    <%= msg %>
  <% end %>

  <div class="field">
    <%= form.label :customer_name %>
    <%= form.text_field :customer_name %>
  </div>
  <hr>

  <div class="field">
    <br>
    <%= form.label :service, 'Service'%>
    <%= form.collection_select :service_ids, Service.all, :id, :title, {}, { multiple: true }%>
  </div>
  <hr>

<!--  <div>-->
<!--    <br>-->
    <%#= form.label :Performer %>
    <%#= form.collection_select :performer, Performer.all, :id, :name%>
<!--  </div>-->
  <hr>

  <br>
  <div>
    <%= form.submit %>
  </div>
<% end %>
