<br>
<%= form_with(model: @order) do |form| %>

  <%#= @user.errors.full_messages.join(", ") if @user.errors.present? %>

  <% @order.errors.full_messages.each do |msg| %>
    <%= msg %>
  <% end %>

  <div>
    <%= form.label :customer_name %>
    <%= form.text_field :customer_name %>
  </div>
  <hr>

  <div>
    <br>
    <%= form.label :category %>
    <%= form.collection_select :category, Category.all, :id, :title%>
  </div>
  <hr>

  <div>
    <br>
    <%= form.label :Performer %>
    <%= form.collection_select :performer, Performer.all, :id, :name%>
  </div>
  <hr>

  <br>
  <div>
    <%= form.submit %>
  </div>
<% end %>
