<br>
<%= link_to 'Main page', root_path %>
<br>
<hr>
<%= link_to 'new order', new_order_path %>
<hr>

<h3>Orders</h3>
<table class="table">
  <thead>
    <tr >
      <th class="col-lg-1"><%= link_to "Id", :sort => "id"%> </th>
      <th class="col-lg-2"><%= link_to "Customer Name", :sort => "customer_name"%> </th>
      <th class="col-lg-1 text-right"><%= link_to "Created at", :sort => "created_at"%> </th>
    </tr>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.id %></td>
        <td><%= link_to "#{order.customer_name}", order_path(order.id) %></td><td>
        <td><%= order.created_at %></td>
      </tr>
    <% end %>
  </thead>
</table>
<hr>

<% @orders.each do |order|
%>
  <p><%= link_to order.customer_name, order_path(order.id) %>
  </p>
  <small>
    <i><%= order.customer_name %>, <%= order.created_at.in_time_zone('Moscow').strftime("%H:%m %d.%m.%Y")%></i>
  </small>
  <%= link_to 'edit', edit_order_path(order.id) %>
  <%= link_to 'delete', order_path(order.id), method: :delete, data: { confirm: 'are you sure?'} %>
  <hr />
<% end %>
