<br>
  <%#= link_to 'to users', users_path %>
</br><hr><hr><br />
</hr>
</hr>
<%= link_to 'new order', new_order_path %>
<br />
<hr />
<h1>
  Orders
  <h4>|' hr</h4>
  <hr>| aa bb cc</hr>
</h1>
<h2>again Orders</h2>
<h3>other
</h3>
<ul>
  <li>
    <p>lalala1</p>
  </li>
  <li>
    <p>lalala2
    </p>
  </li>
</ul>
<% @orders.each do |order|
%>
  <p><%= link_to order.performer_name, order_path(order.id) %>
  </p>
  <small>
    <i><%= order.performer_name %>, <%= order.created_at.strftime("%H:%m %d.%m.%Y") %></i>
  </small>
  <%= link_to 'edit', edit_order_path(order.id) %>
  <%= link_to 'delete', order_path(order.id), method: :delete, data: { confirm: 'are you sure?'} %>
  <hr />
  <hr />
<% end %>
