<br>
<%= link_to 'Main page', root_path %>
<br>
  <%#= link_to 'to users', users_path %>
<hr>

<table class="table">
  <thead>
    <tr>
      <th scope="col"><%= link_to "Id", :sort => "id"%> </th>
      <th scope="col"><%= link_to "Customer Name", :sort => "customer_name"%> </th>
      <th scope="col"><%= link_to "Created at", :sort => "created_at"%> </th>
    </tr>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.id %></td>
        <td><%= order.customer_name %></td><td>
        <td><%=order.created_at %></td>
      </tr>
    <% end %>
  </thead>
</table>
<hr>

<%= link_to 'new order', new_order_path %>

<% @orders.each do |order|
%>
  <p><%= link_to order.customer_name, order_path(order.id) %>
  </p>
  <small>
    <i><%= order.customer_name %>, <%= order.created_at.strftime("%H:%m %d.%m.%Y") %></i>
  </small>
  <%= link_to 'edit', edit_order_path(order.id) %>
  <%= link_to 'delete', order_path(order.id), method: :delete, data: { confirm: 'are you sure?'} %>
  <hr />
<% end %>
