<br />
<%= link_to 'back to orders', orders_path %>
<br />
<h3>
  Order №
  <%= @order.id %>
  <br>
  <%= @order.customer_name %>
</h3>
<%= link_to 'edit', edit_order_path(@order.id) %>
<br>
<br>
<p>Customer name: <%= @order.customer_name %></p>
<% @order.services.each do |s| %>
  <br>
  service title:
  <%= s&.title %>
  <br>
  performer name:
  <%= s&.performer&.name %>
  <br>
  <hr>
<% end %>

<p>
  <small>
    created at
    <%= @order.created_at.in_time_zone('Moscow').strftime("%H:%m %d.%m.%Y") %>
  </small></p>
<%= link_to 'edit', edit_order_path(@order.id) %>
<%= link_to 'delete', order_path(@order.id), method: :delete, data: { confirm: 'are you sure?'} %>
<hr />
<hr />
<hr />
